body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}
#menul
{
    font:Verdana, Arial, Helvetica, sans-serif;
    height:auto;
    background-color:#FFF;
    width:20%;
    z-index: 1;
    position:  relative;
    float: left;

}
#menul ul
{
    list-style-type:none;
    padding:0px;


}

#menul ul li
{

    list-style-type:none;

    border-top: dotted thin;
    border-bottom:dotted thin;
    border-left:dotted thin;
    border-right:dotted thin;
    font-family:'Trebuchet MS', Tahoma, Arial;
    font-size: 18px;
}

#menul ul li a
{
    text-decoration:none;
    font-weight:bold;
    padding-left:5px;
    height:30px;	
}

#menul ul li a:hover
{
    color:orange;
}

#slide
{
    float: right;
    z-index: 1;
}

.product{
    border-right:1px #a7a9ac dotted;
    border-bottom:1px #a7a9ac dotted;
    float:left;
    width:204px;
    margin:0;
    height:240px;
    padding-top:5px;
}

.productIndexOffer{
    border-right:1px #a7a9ac dotted;
    border-bottom:1px #a7a9ac dotted;
    float:left;
    width:230px;
    margin:0;
    height:315px;
    padding-top:5px;
}

.product-relate{
    border-right:1px #a7a9ac dotted;
    border-bottom:1px #a7a9ac dotted;
    float:left;
    width:204px;
    margin:0;
    height:330px;
    padding-top:5px;
}

.proImg{
    border:0px #e5e5e5 dotted;
    padding: 5px;
    width: 160px;
    height:160px;
    margin: 0 auto;
    text-align:center;
}

.proTitle{
    height:80px;
    text-align: center;
    font-weight:bold; margin-bottom:4px; overflow:hidden;
    padding-top: 5px;
}

.proTitle a{
    text-decoration: none;
    color:#2845b2;
}

.proPrice{
    text-align: center;
    font-weight: bold;
    color:#CC0000;
}

.proPriceOffer{
    text-decoration: line-through;
    text-align: center;
    font-weight: bold;
    color:#1b44ac;
    font-size:12px;
}

.ProOrder{
    height:28px;
    padding:6px 0 0 65px;
    margin-top: 3px;
}
.ProOrder a{
    text-decoration: none;
    color:#000;
}
.pro-check-order{text-align: center;}
.borderNone{
    border-bottom:none;
}

/* list product page */
.FilterProduct{
    float:left;
    width: 172px;
    margin-left:7px;
}

.FilterProductTitle{
    background-color: #BEBEBE;
    width: 165px;
    height:23px;
    line-height: 23px;
    font-weight: bold;
    padding-left: 7px;
}

.ListProduct{
    float:right;
    width: 700px;
}

.ListProductTitle{
    background:url("../images/CategoryProductImgTitleBG.png") no-repeat left center;
    width: 609px;
    height:23px;
    line-height:23px;
    color:#FFF;
    font-weight: bold;
    padding-left: 30px;
}

.listProductContent{
    width:700px;
    border:1px solid #d4d5d7;
    border-top:none;
    border-bottom:none;
}

.listProductContent table{
    border-collapse:collapse;
}

.listProductContent table tr td{
    border-bottom:1px solid #d4d5d7;
    vertical-align:middle;
}

.listProductContent table tr td.vtop{vertical-align: top;}
.listProductContent table tr td.img{padding:10px 0 10px 0;width:180px;}
.listProductContentImg{
    width:160px;
    padding:10px;
    border:0px solid #f3f3f4;
    text-align:center;
}

.listProductContentDesc{
    margin:10px 0 10px 20px;
}

.listProductContentDesc .desc{
    font-size:8px;
    color:#414042;
}
.listProductContentDesc .title{
    font-weight: bold;
    margin-bottom: 20px;
}

.listProductContentDesc .title a{
    color:#115eb4;
}

.listProductContentOrder{margin-top: 10px;}

.listProductContentOrder .price{
    font-weight: bold;
    color:#CC0000;
    font-size:14px;
    margin-bottom: 5px;
}
.listProductContentOrder .cartBgicon{
    margin-top:20px;
    cursor: pointer;
}

/* trang chi tiết sản phẩm */
.productDetailTitle{
    background: url("../images/productDetailTitleBg.png") no-repeat left center;
    width: 789px;
    height:23px;
    line-height: 23px;
    padding-left: 30px;
    color:#FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.productDetailCol1{
    float:left;
    width: 282px;
    margin-top: 7px;
}

.productImage{
    width:260px;
    border:1px solid #ececec;
    padding:10px;
}

.otherProductImage{
    margin-top:10px;
}

.otherProductImage table tr td{
    width: 45px;
    height: 45px;
    vertical-align: middle;
    border:1px solid #CCCCCC;
    padding:2px 7px 2px 7px;
}

.productDetailCol2{
    width:520px;
    float:left;
    margin:20px 0 0 15px;
    color:#414042;
}

.productDetailDesc{
    margin-top: 30px;
}

.productComboTitle{
    width: 810px;
    height:25px;
    background:url("../images/comboBG.png") no-repeat left center;
    line-height: 25px;
    font-weight: bold;
    color:#414042;
    padding-left: 10px;
    text-transform: uppercase;
}

.productComboFooter{
    width: 820px;
    height:7px;
    background:url("../images/comboBGFooter.png") no-repeat left center;
}

.productComboContent{
    width: 811px;
    padding: 7px 0px 7px 7px;
    border-right: 1px solid #bcbec0;
    border-left: 1px solid #bcbec0;
    border-bottom: 1px solid #bcbec0;
}

.productComboContent table tr td{vertical-align: middle;text-align: center;color:#0b53a2;padding: 5px 0 5px 0;}
.productComboContent table tr td a{color:#0b53a2;}
.productComboContent table tr td a:hover{text-decoration:none;}
.productComboContent table tr td p{color:#414042;}

.sameProduct{
    width: 817px;
    border:1px solid #bcbec0;
    border-top:none;   
}

.carousel ul {
    height:150px;
}
.carousel ul li{
    float:left;
    width: 190px;
    text-align: center;
}

.sameProduct .js .carousel-wrap{display:inline-block;vertical-align:middle;width:760px;margin-top: 7px;margin-bottom:7px;}
.sameProduct .carousel .carousel-next{background:url(../images/rightArrow.png) no-repeat;}
.sameProduct .carousel .carousel-previous{background:url(../images/leftArrow.png) no-repeat;margin-left: 5px;}
.sameProduct .carousel .carousel-control{overflow:hidden; display:inline-block;vertical-align:middle;width:22px;height:27px;cursor:pointer;line-height:999px;zoom:1;border:0;text-indent:-9999px;}

.sameProductTitle{height:46px;line-height:16px;width: 170px;text-align: center;padding: 0 10px 0 10px;}
.sameProductTitle a{color:#115eb4;font-weight: bold;text-decoration: none;}
.sameProductImg{width: 170px;text-align: center;padding: 0 10px 0 10px;}
.sameProductPrice{color:#CC0000;font-weight: bold;margin-top:5px;width: 170px;text-align: center;padding: 0 10px 0 10px;}

.cat-relate{
    background-color:#2983E7;
    height:24px;
    line-height: 24px;
    color:#FFF;
    padding-left:15px;
    font-weight: bold;
}
/* trang chi tiết sản phẩm */



